@model List<migration_accelerator.Models.SecretKeyValue>

<h3 class="mb-3">Secrets Scanner</h3>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form asp-action="ScanSecrets" method="post">
    <div class="row mb-4">
        <div class="col-md-5">
            <label>Folder Path</label>
            <input type="text" name="folderPath" class="form-control"
                   placeholder="C:\Tools" required />
        </div>

        <div class="col-md-3">
            <label>Repo Name</label>
            <input type="text" name="repoName" class="form-control"
                   placeholder="MyRepo" required />
        </div>

        <div class="col-md-2 align-self-end">
            <button type="submit" class="btn btn-dark">SCAN</button>
        </div>
    </div>
</form>

@if (Model.Any())
{
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th style="width:40%">Secret Key</th>
                <th>Secret Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>
                        <input class="form-control" value="@item.Value" readonly />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
